fieldset {
  display: flex;
  gap: 30px;
  width: max-content;
}

footer {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

ul.packages {
  display: flex;
  gap: 10px;
  flex-flow: column;
  list-style: none;
}

.status-icons {
  display: inline-flex;
  gap: 16px;
  margin-right: 12px;
  vertical-align: middle;
}

.si {
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  opacity: 0.2;
  transition: opacity 0.1s, transform 0.1s;
  vertical-align: middle;
  width: 32px;
}

.si.si-1 {
  background-image: url("icons8-payment-64.png");
  cursor: default;
  opacity: 1;
}

.si.si-2 {
  background-image: url("icons8-drone-64.png");
}

.si.si-3 {
  background-image: url("icons8-package-64.png");
}

.si.si-2:hover,
.si.si-3:hover {
  opacity: 1;
  transition: opacity 0.1s, transform 0.1s;
  transform: scale(110%);
}

.status-2 > .status-icons > .si.si-2,
.status-3 > .status-icons > .si {
  opacity: 1;
}
