form {
  display: flex;
}

fieldset {
  display: flex;
  gap: 30px;
  width: max-content;
}

footer {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.packages {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin: 20px;
}

.packages > .package {
  align-items: center;
  display: flex;
}

.status-icons {
  display: inline-flex;
  gap: 16px;
  margin-right: 12px;
  user-select: none;
  vertical-align: middle;
}

.si {
  background-size: contain;
  display: inline-block;
  height: 32px;
  opacity: 0.2;
  transition: opacity 0.1s, transform 0.1s;
  vertical-align: middle;
  width: 32px;
}

.si.si-1 {
  background-image: url("icons8-checklist-64.png");
}

.si.si-2 {
  background-image: url("icons8-delivery-truck-64.png");
}

.si.si-3 {
  background-image: url("icons8-packages-64.png");
}

.si.si-4 {
  background-image: url("icons8-package-64.png");
}

.status-1 > .status-icons > .si.si-1,
.status-2 > .status-icons > .si.si-1,
.status-2 > .status-icons > .si.si-2,
.status-3 > .status-icons > .si.si-1,
.status-3 > .status-icons > .si.si-2,
.status-3 > .status-icons > .si.si-3,
.status-4 > .status-icons > .si {
  opacity: 1;
}

.status-1 > .status-icons > .si:not(.si-1):hover,
.status-2 > .status-icons > .si:not(.si-2):hover,
.status-3 > .status-icons > .si:not(.si-3):hover,
.status-4 > .status-icons > .si:not(.si-4):hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(110%);
  transition: opacity 0.1s, transform 0.1s;
}
