fieldset {
  display: flex;
  gap: 30px;
  width: max-content;
}

footer {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

ul.packages {
  display: flex;
  gap: 10px;
  flex-flow: column;
  list-style: none;
}

.si {
  background-size: contain;
  display: inline-block;
  height: 32px;
  margin-right: 8px;
  opacity: 0.2;
  vertical-align: middle;
  width: 32px;
}

.si.s-1 {
  background-image: url("icons8-payment-64.png");
}

.si.s-2 {
  background-image: url("icons8-drone-64.png");
}

.si.s-3 {
  background-image: url("icons8-package-64.png");
}

.si.s-1,
.status-2 > .si:not(.s-3),
.status-3 > .si {
  opacity: 1;
}
